.btn {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 10px 28px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  /* primary */
  .prm {
    border-color: #04AA6D;
    color: green;
  }
  
  .prm:hover {
    background-color: #04AA6D;
    color: white;
  }
  
  /* secndary */
  .sec {
    border-color: orange;
    color: white;
    
   background-color: orange;
  }
  
  .sec:hover {
    background-color: white;
    color: orange;
  }
  
  